################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GraphQLWithHotChocolate.API/bin/Debug/netcoreapp3.1
/GraphQLWithHotChocolate.API/obj
/GraphQLWithHotChocolate.Enity/bin/Debug/netcoreapp3.1
/GraphQLWithHotChocolate.Enity/obj
